body{

    margin:0;
}

body h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}

body p,span,a{
    font-family: 'Work Sans', sans-serif;
}

.container{

    padding-left: 90px;
    padding-right: 70px;
}

/* Order section */
.order-section{

    display:flex;
    padding-bottom: 80px;
}
.content{
    width:50%;
    text-align:left;
    padding-top:150px;
}
.content h1{

    font-size:56px;
    color:#514949;
    font-weight: 600;
    
}

.content p{

    font-size: 20px;
    color:gray;
    margin-bottom: 70px;
}
.content span{
    color:#29A22E;
}



.content a{
    
    text-decoration: none;
    padding:18px 30px;
    background-image:linear-gradient(#35d63b, #34a438);
    color:white;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
  
    box-shadow: 5px 5px 40px #35d63b;
}
.images{
    width:50%;
    padding-top:50px;
    
}
.images img{
    width:100%;
    text-align: right;
}

/* order section end */

/* about section start */

.about{

    display:flex;
    margin-bottom: 100px;
    
}

.about-section{
   background-image: url(images/shapes/7.png);
   background-repeat: no-repeat;
}

.image-section{

    width:50%;
    text-align:left;
    padding-top:60px;
    padding-left: 150px;
}

.image-section img{

    width:60%;
    text-align: center;
}

.about-me{

    width:50%;

    padding-top: 90px;
    
}

.about-me h2{
       
    font-size: 35px;
    color:#787676;
}

.about-me p{

    font-size: 18px;
    color:rgb(110, 110, 110);
    padding-right: 130px;
    margin-bottom: 70px;
}

.about-me a{

        text-decoration: none;
        padding:18px 27px;
        background-image:linear-gradient(#35d63b, #34a438);
        color:white;
        font-size: 22px;
        font-weight: 500;
        border-radius: 30px;
      
        box-shadow: 5px 5px 40px #35d63b;
       
}

.footer-section{
    background-color:rgb(37, 20, 44);
    padding-top:45px;
    padding-bottom: 70px;
}

.footer-section h1{
     
    text-align: center;
    color:#6a5959
}

.footer-section span{

    color:#09f1e9;;
}

.footer-section p{
    text-align: center;
    color:white;
}
.footer-section h6{
    text-align: center;
    color:#ffffff;
    font-size:18px
}