body{

    margin:0;
}

body h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}

body p,span,a{
    font-family: 'Work Sans', sans-serif;
}

.container{

    padding-left: 90px;
    padding-right: 70px;
}

/* Order section */
.order-section{

    display:flex;
    padding-bottom: 80px;
    
}

.contact{
    display: flex;
}
.contact .food{
    padding-left: 10px;
    display: flex;
    
    
}

.contact .call{

    margin-top:-5px
}

 .contact .call i{

    font-size: 40px;
    color:rgb(231, 108, 25)
}

.contact .call p{

    margin-left: 120px;   
    font-size: 20px;
    text-align: right;

}





.contact .food p{

    color:#FC7940;
    font-weight: 800;
  
    
}
.contact .logo{

    margin-top:16px;

}

.contact .logo img{
    width:100%;
}
.content{
    width:50%;
    text-align:left;
    padding-top:15px;
}
.content h1{

    font-size:56px;
    color:#514949;
    font-weight: 600;
    
}

.content p{

    font-size: 20px;
    color:gray;
    margin-bottom: 70px;
}
.content span{
    color:#29A22E;
}



.content a{
    
    text-decoration: none;
    padding:18px 30px;
    background-image:linear-gradient(#35d63b, #34a438);
    color:white;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
  
    box-shadow: 3px 3px 30px #35d63b;
}
.images{
    width:50%;
    padding-top:50px;
    
}
.images img{
    width:100%;
    text-align: right;
}

/* order section end */

/* about section start */

.about{

    display:flex;
    margin-bottom: 70px;
    
}

.about-section{
   background-image: url(images/shapes/7.png);
   background-repeat: no-repeat;
}

.image-section{

    width:50%;
    text-align:left;
    padding-top:60px;
    padding-left: 150px;
}

.image-section img{

    width:60%;
    text-align: center;
}

.about-me{

    width:50%;

    padding-top: 90px;
    
}

.about-me h2{
       
    font-size: 35px;
    color:#787676;
}

.about-me p{

    font-size: 18px;
    color:rgb(110, 110, 110);
    padding-right: 130px;
    margin-bottom: 70px;
}

.about-me a{

        text-decoration: none;
        padding:18px 27px;
        background-image:linear-gradient(#FD4D2F, #FC954B);
        color:white;
        font-size: 22px;
        font-weight: 500;
        border-radius: 30px;
      
        box-shadow: 1px 1px 20px #FC954B;
       
}

/* about section end */

/* My Recipies section start */

.rescipies{
    padding-bottom: 90px;
}
.my-recipies{
margin-bottom: 40px;
   
}

.my-recipies h1{
 
    text-align: center;
    color:gray;
    font-size: 35px;
}

.my-recipies p{

    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 18px;
    color:rgb(99, 96, 96)
}

.recipies-item{
    display: flex;
}

.recipies-item .item1{

    width:30%;
    box-shadow: 10px 10px 40px rgb(182, 180, 180);
    padding:20px;
    border-radius: 25px;
    
}

.item-name h2{

    font-size: 25px;
    padding-top:15px;
    color:#29A22E;
}
.item-name p{

    color:gray;
    font-size: 17px;
    line-height:1.7;
    
}

.recipies-item .item2{

    width:30%;
    margin-left: 4%;
    box-shadow: 10px 10px 40px rgb(182, 180, 180);
    padding:20px;
    border-radius: 25px;
}

.recipies-item .item3{

    width:30%;
    box-shadow: 10px 10px 40px rgb(182, 180, 180);
    margin-left: 4%;
    padding:20px;
    border-radius: 25px;
   
}

.recipies-item img{

    width:100%;
    text-align: center;
    
}

/* Rescipies section end */

/* counter section start */

.counter-section{
    display: flex;
    box-shadow: 10px 10px 40px rgb(182, 180, 180);
    padding-top:40px;
    padding-bottom: 40px;
    border-radius: 25px;
    margin-bottom: 80px;
}

.counter-section .number1{

    width:33.33%;
    text-align: center;
}
.counter-section .number1 h1{

    font-size: 45px;
    margin-bottom: 10px;
    color:#0bccea;
}

.counter-section .number1 p{

    color:gray;
    color:#5a5a5a
}
.counter-section .number2{
    width:33.33%;
    text-align: center;
}

.counter-section .number2 h1{

    font-size: 45px;
    margin-bottom: 10px;
    color:#0bccea;
}

.counter-section .number2 p{

    color:gray;
    color:#5a5a5a
}

.counter-section .number3{
    width:33.33%;
    text-align: center;
}

.counter-section .number3 h1{

    font-size: 45px;
    margin-bottom: 10px;
    color:#0bccea;
}

.counter-section .number3 p{

    color:gray;
    color:#5a5a5a;
}

/* counter section end */


.footer-section{
    background-color:rgb(37, 20, 44);
    padding-top:45px;
    padding-bottom: 70px;
}

.footer-section h1{
     
    text-align: center;
    color:#6a5959
}

.footer-section span{

    color:#09f1e9;;
}

.footer-section p{
    text-align: center;
    color:white;
}
.footer-section h6{
    text-align: center;
    color:#ffffff;
    font-size:18px
}